
@font-face {
    font-family: 'HelveticaNeueLTCom-BdCn';
    src: url('helveticaneueltcom-bdcn.eot');
    src: url('helveticaneueltcom-bdcn.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltcom-bdcn.woff') format('woff'),
         url('helveticaneueltcom-bdcn.ttf') format('truetype'),
         url('helveticaneueltcom-bdcn.svg#helvetica_neue_lt_com77BdCn') format('svg');
    font-weight: normal;
    font-style: normal;
}