
@font-face {
    font-family: 'ProximaNova';
    src: url('proximanova-regular.eot');
    src: url('proximanova-regular.eot?#iefix') format('embedded-opentype'),
         url('proximanova-regular.woff') format('woff'),
         url('proximanova-regular.ttf') format('truetype'),
         url('proximanova-regular.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* 
@font-face {
    font-family: 'ProximaNova';
    src: url('proximanova-bold.eot');
    src: url('proximanova-bold.eot?#iefix') format('embedded-opentype'),
         url('proximanova-bold.woff') format('woff'),
         url('proximanova-bold.ttf') format('truetype'),
         url('proximanova-bold.svg#proxima_nova_rgbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNova';
    src: url('proximanova-boldit.eot');
    src: url('proximanova-boldit.eot?#iefix') format('embedded-opentype'),
         url('proximanova-boldit.woff') format('woff'),
         url('proximanova-boldit.ttf') format('truetype'),
         url('proximanova-boldit.svg#proxima_nova_rgbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'ProximaNova';
    src: url('proximanova-regularitalic.eot');
    src: url('proximanova-regularitalic.eot?#iefix') format('embedded-opentype'),
         url('proximanova-regularitalic.woff') format('woff'),
         url('proximanova-regularitalic.ttf') format('truetype'),
         url('proximanova-regularitalic.svg#proxima_novaregular_italic') format('svg');
    font-weight: normal;
    font-style: italic;

} */