@charset "utf-8";

/*
* If you have external CSS files 
* place it here. ( ex. External webfonts )
* -- @import url("");
*/
@import url("jquery.sushi.css");
@import url("fonts/ProximaNova/font.css");
@import url("fonts/HelveticaNeueLTCom-BdCn/font.css");
@import url("fonts/DejavuserifIT/font.css");
@import url("fonts/OpenSans/font.css");
@import url("fonts/SegoeBD/font.css");

/*****************************
* BASE DEFAULTS              *
*****************************/

* {
	margin: 0;
	padding: 0;
	outline: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body { min-height: 100%; -webkit-text-stroke: 0px; /* font-family:verdana!important; */ }

body {
	background:  url("../images/banner-bg.jpg") 50% 278px repeat-x #ffffff;
}

a, a:hover { text-decoration: none; color: #80C655;}

h1, h2, h3, h4, h5, h6 { line-height: 1em; }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }

fieldset, img { border: none; }
img { -ms-interpolation-mode: bicubic; }
ul li, ol li { list-style-type: none; list-style-image: none; font-family:verdana; color:#555555;line-height: 28px; }
textarea { resize: none; overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0; }

code, pre {
	font-family: "Courier New", "Lucida Console";
	overflow: auto;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body, fieldset, textarea, input, label, select, ul, ol, legend {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	color: #000000;
	display: block;
	-webkit-text-size-adjust: 100%;
	-webkit-text-stroke: 0px;
	-webkit-font-smoothing: antialiased;
}
.no-design{
	padding-left:40px;
}
.no-design li{
	background:url('../images/bullet.png') 0 50% no-repeat !important;
	list-style-type:none;
	padding:0 0 0 20px;
}
/*****************************
* GLOBAL LAYOUTS & TOOLS     *
*****************************/

.left, .fL, .alignleft { float: left; }
.right, .fR, .alignright { float: right; }
.center, .aligncenter { display: block; margin: 0 auto; }

.clr {
	clear: both;
	font-size: 0;
	height: 0;
}
.clr-left, .cL { clear: left; }
.clr-right .cR { clear: right; }

.no-bg { background: none !important; }
.no-b { border: 0 none !important; }

.no-p { padding: 0 !important; }
.no-pt { padding-top: 0 !important; }
.no-pr { padding-right: 0 !important; }
.no-pb { padding-bottom: 0 !important; }
.no-pl { padding-left: 0 !important; }

.no-m { margin: 0 !important; }
.no-mt { margin-top: 0 !important; }
.no-mr { margin-right: 0 !important; }
.no-mb { margin-bottom: 0 !important; }
.no-ml { margin-left: 0 !important; }

.ie7 .clr, .ie6 .clr { display: inline; }

/********************************
* PLEASE DON'T ADD ON/MODIFY    *
* THE CSS ABOVE EXCEPT FOR BODY *
* TAG AND IMPORTING EXTERNAL    *
* FILES ABOVE BASE RESETS.      *
********************************/

#main-wrapper {
	min-width: 1200px;
}
.main-container {
	width: 1140px;
	margin: 0 auto;
	position: relative;
}

.img-holder { overflow: hidden; }
.img-holder img, a img { display: block; }


/*****************************
* TEXT STYLES                *
*****************************/

a { color: #80C655; }
a:hover { text-decoration: underline; }

p {
	
}

/*doki*/
.articles .readmore{
	font-family:'ProximaNova';
	font-size: 14px;
	float:right;
	padding: 8px 10px 0 0;
	color:#fff;
}


/*****************************
* BUTTONS & FORM STYLES     *
*****************************/

.button, [class~="button"],
.button input, [class~="button"] input {
	border: none;
	cursor: pointer;
	display: block;
	background: none;
}

.button:hover, .button:active {
}


/*****************************
* HEADER                     *
*****************************/

header {
	width: auto;
	height: 49px;
	position: relative;
	background: #76ab01;
}
/*.ie7 header{
	height: 145px;
	width: auto;
	position: relative;
	background: #76ab01;
}*/
#logo {
	width: 356px;
	height: 114px;
	float: left;
	margin: 40px 0 0 0;
}
#logo a {
	width: 100%;
	height: 100%;
	display: block;
}

#logo img{

}
.caption{
	width: 390px;
	float: left;
}
.caption p{
	color: #171717;
	font-family: 'dejavu_serifitalic';
	font-size: 20px;
	margin: 54px 0 0 29px;

}
.contact{
	width: 390px;
	margin: 0 0 0 0;
	padding-bottom:20px;
}
.contact p.details{
	float: right;
	text-align: right;
	color: #555555;
	font-family: Verdana;
	font-size: 14px;
	line-height: 20px;
	margin: 20px 0px 0px;
}
.contact p.details span{
	font-weight: bold;
	font-size:16px; 
}
.contact p.details a{
	color: #555;
}
.contact a{
	color: #555;
}
.postid-745 .main-content-four-sub img{
	margin: 0 0 10px 0 !important;
}
.postid-741 #sub-content-area .main-container article.main-entry .per-post-single .image-holder-news img{
	
	margin: 0 0 15px 260px;
}
.contact a.fb-icon{
	/*background: url("../images/facebook.png") 0 0 no-repeat;*/
	height: 40px;
	width: 206px;
	color: #424242;
	font-size: 14px;
	float: right;
	margin: 20px 0 10px 0;
}
.contact p.phone{
	background: url("../images/phone.png") 0 8px no-repeat;
	color: #252525;
	font-family: 'HelveticaNeueLTCom-BdCn';
	font-size: 30px;
	float: right;
	padding: 0px 0 0 45px;
	margin: 5px 0 5px 0;
	clear:both;

}
.single-post .content-left{
	width:335px;
	margin-left:40px;
}
.single-post .content-left h3, .single-post .content-right h3{
	text-align:left;
}
.single-post .content-left img, .single-post .content-right img{
	margin-left:0px !important;
}
.single-post .content-right{
	margin-right:10px;
	width:335px;
}

.block{
	width: 274px;
	background:#cc1e2c;
	position: relative;
	margin: 0 0 15px 0;
}
.block .block-wrapper{
	width: 234px !important;
	margin: 0 auto;
}
.ie7 .block .block-wrapper{
	width: 234px !important;
	margin: 0 auto -6px auto;
}
.block .block-wrapper p.title {
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	font-family: 'ProximaNova';
	text-transform: uppercase;
	border-bottom: 1px solid #fff401;
	/* padding: 25px 0 24px 0; */
	padding: 15px 0;
	margin: 0 0 25px 0;

}
.block .block-wrapper .title-control{
	margin: 20px 0;	
}
.block .block-wrapper .title-control h5{
	font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: #ffff00;
	margin: 0 auto;
	text-align: left;
	font-weight: normal;
	padding: 0 0 10px 0;
}
.block .block-wrapper .title-control .per-title{
	text-align:left;
}
.block .block-wrapper .title-control .per-title a{
	font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
	line-height: 22px;
	text-align:left;
}
.block .block-wrapper .title-control .per-title a.curbold{
	color: rgb(255, 194, 0);
	font-weight:bold;
}

.block .block-wrapper p.newsletter{
	text-align: left;
	color: #ffffff;
	font-size: 18px;
	padding: 25px 0 18px 0;
	margin: 0 7px;
}
.block .block-wrapper input{
	margin: 0 auto 4px auto;
	width: 222px !important;
	/* height: 32px !important; */
}
.ie7 .block .block-wrapper input[type="submit"]{
	height: 32px !important;
}
.ie7 .block .block-wrapper input{
	margin: 0 auto 4px auto;
	width: 200px !important;
 	height: 15px !important; */
}
.block .block-wrapper input.name, .block .block-wrapper input.email{
	height: 32px;
	border: 1px solid #731630;
	width: 222px;
	padding: 0 10px;
}
.ie7 .block .block-wrapper input.name,
.ie7 .block .block-wrapper input.email{
 	height: 15px !important; 
	border: 1px solid #731630;
	width: 200px !important;
	padding: 0 10px;
	line-height: 32px;
}
.ie7 .block .block-wrapper input.submition{
	width: 222px;
	background: #fff401;
	height: 32px;
	border: 1px solid #731630;
	font-weight: bold;
	margin: 0 auto 28px auto;
	cursor: pointer;
}
.block .block-wrapper input.submition{
	width: 222px;
	background: #fff401;
	height: 38px;
	border: 1px solid #731630;
	font-weight: bold;
	margin: 0 auto 13px auto;
	cursor: pointer;
}
ul#schedule{
	/* margin: 0 0 25px 0; */
	margin: -15px 0 15px;
}
ul#schedule .public-holidays{
	font-size: 20px;
	font-family: 'ProximaNova';
	color: #fff;
	padding-top:15px;
}
ul#schedule li{
	
	background: url("../images/clock-bg.png") 0 6px no-repeat;
	height: 59px;
	padding: 0 0 0 54px;
	font-size: 22px;
	font-family: 'ProximaNova';
	color: #fff;
} 
ul#schedule li span{
	font-family: Verdana;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}
.featured{
	background: #fff;
	 width: 274px;
	 height: 310px;
	 border: 1px solid #cfcfcf;
	 margin: 5px 0 0 0;
	 position: relative;
	 overflow: hidden;
}
.featured img{
	margin: 7px 0 7px 7px;
}
.featured p.caption-featured{
	background: url("../images/caption-bg.png") 0 0 repeat;
	position: absolute;
	bottom: 17px;
	left: 0;
	z-index: 1;
	margin: -73px 0 -7px 7px;
	width: 258px;
	padding: 10px 10px;
	font-family: 'OpenSans';
	color: #fff;
	line-height: 20px;
	overflow: hidden;
}
.featured p.caption-featured a.access{
	font-family: 'ProximaNova';
	font-size: 18px;
	color: #76ab01;
}
.featured .ribbon{
	background: url("../images/featured.png") 0 0 no-repeat;
	position: absolute;
	height: 80px;
	width: 99px;
	top: -1px;
	right: 174px;
}
ul#view-all-product{
	padding: 0 20px;
}
ul#view-all-product li{
	float:left;
	width:100%;
	margin-bottom:30px;
}

ul#view-all-product li img{
	margin:0 15px 0 0;
	border: 1px solid #B7B7B7;
}
ul#view-all-product li p{
	line-height:22px;
}
.main-content-four-sub img{
	border:1px solid #c7c5c3;
	margin-left:20px;
}
/*****************************
* MENUS & NAVIGATIONS        *
*****************************/

#main-nav {
}

#main-nav ul {
	width: 1170px;
	height: 49px;
	margin-left: -1px;
}
#main-nav ul li{
	float: left;
	position: relative;
	border-left: 1px solid #c1d301;
	height: 14px;
	margin: 16px 0 0 0px;
	padding: 0;
}

.ipod #main-nav ul li, .ipad #main-nav ul li{
	float: left;
	position: relative;
	border-left: 1px solid #c1d301;
	height: 14px;
	margin: 16px 0 0 0px;
	padding: 0;
}
.ie9 #main-nav ul li{
	float: left;
	position: relative;
	border-left: 1px solid #c1d301;
	height: 14px;
	margin: 16px 0 0 0px;
	padding: 0;
}
#main-nav ul li:first-child {
	background: url("../images/first-child-bg.png") 0 0 no-repeat;
	display: block;
	height: 49px;
	padding: 16px 0px 0 0; /* 16px 13px 0 0; */
	text-indent: -9999px;
	border: none;
	margin: 0;
	width: 52px; /* 53px; */
}
#main-nav ul li.second-child{
	float: left;
	position: relative;
	border:none;
	height: 14px;
	margin: 16px 0;
	padding: 0;
}
#main-nav ul li a {
	display: block;
	font-family: 'ProximaNova';
	font-weight: normal;
	padding: 0 5px;
	font-size: 15px;
	margin: -7px 0 0 0px;
	color: #ffffff;
}
#main-nav ul li.last-child-menu a {
	padding: 0 0 0 5px !important;
}
.ie9 #main-nav ul li a {
	padding-left: 4px !important;
}
.ipad #main-nav ul li a{
	padding: 0 4px;
}
.ipod #main-nav ul li a{
	padding: 0 4px;
}
#main-nav ul li a:hover,
#main-nav ul li.current_page_item a {
	color: #ffffff;
	text-decoration: underline;
}

#sub-content-area .main-entry ul.list{
	float: left;
	width: auto;
	font-family: Verdana;
	font-size: 12px;
	color: #555555;
	padding: 0 20px;
	line-height: 24px;
	margin-bottom: 20px;
}
#sub-content-area .main-entry ul.list li{
	
}
#sub-content-area .main-entry p.style-italic{
	float: left;
	width: 480px;
	font-family: Verdana;
	font-size: 12px;
	color: #555555;
	line-height: 24px;
	font-style: italic;
	font-weight: bold;
	padding: 0 20px;
}
/*****************************
* BANNER                     *
*****************************/

#banner {
	
}
#rotator{
	width: 847px;
	height: 524px;
	position: relative;
	overflow: hidden;
	/*margin: 29px 0 0 0;*/
}
#rotator .rotator-wrapper{
	width: 833px;
	height: 510px;
}
.round-border{
	background: #ffffff;
	border: 1px solid #c7c5c3;
	border-radius: 6px;
	padding: 7px;
}

#rotator .pagination {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
	padding: 19px 21px 0 0;
}

#rotator .pagination li {
	float: left;
	margin-left: 4px;
}
#rotator .pagination li a {
	background: url("../images/sprite-pagination.png") 0 100% no-repeat;
	width: 13px;
	height: 13px;
	display: block;
	text-indent: -9999px;
}
#rotator .pagination li a:hover, #rotator .pagination li.current a{
	background-position: 0 0;
}
/*****************************
* CONTENT AREA               *
*****************************/

#content-area {
	margin: 0 0 0 0;
	text-align: justify;
	
}
#sub-content-area {
	text-align: justify;
	margin: 0 0 0 0;
	/*background:  url("../images/banner-bg.jpg") 36% 4% repeat-x #ffffff;*/
}

#sub-header{
	
}
#content-area .sidebar {
}

#content-area .main-entry{
	width: 847px;
	float: left;
	margin: 15px 0 0 0;
}
#sub-content-area .main-entry {
	width: 847px;
	min-height: 575px;
	float: left;
	margin: 0 0 30px 0;
	position: relative;
}
#content-area .main-entry h1{
	font-family: 'segoe_scriptbold';
	/* font-size: 30px; */
	font-size: 22px;
	color: #252525;
	line-height: 43px;
	font-weight: normal;
	border-bottom: 1px solid #76ab01;
	/* padding: 0 0 10px 0; */
	margin: 0 0 20px 0;
}
#sub-content-area .main-entry h1 {
	font-family: 'ProximaNova';
	font-size: 30px;
	color: #252525;
	line-height: 43px;
	font-weight: normal;
	padding: 0 0 0px 20px;
}
#content-area .main-entry p.main-content{
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #555555;
	width: 403px;
	margin: 0 40px 0 0;
	line-height: 20px;
}
 #sub-content-area .main-entry p.main-content{
 	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #555555;
	width: auto;
	margin: 0;
	padding: 0 10px 30px 20px;
	line-height: 20px;
 }
#content-area .main-entry p.main-content-two{
	float: left;
	width: 403px;
	font-family: Verdana;
	font-size: 12px;
	color: #555555;
	line-height: 20px;
}
.main-content-two a{
	color:#555;
}
a.green{
	color:#80C655;
}
#sub-content-area .main-entry .main-content-two{
	width: 100%;
	font-family: Verdana;
	font-size: 12px;
	color: #555555;
	line-height: 24px;
	position: relative;
	padding: 0 20px;
}
#sub-content-area .main-entry .main-content-two img.rheaplant{
	margin: 0 20px 210px 0;
	float: left;
	padding: 0;
}
img.quinio{
	float: right;
	margin-top:30px;
	margin-left: 0px !important ;
	/* margin: 32px 30px 60px 0px; */
}
img.alignnone.size-full.wp-image-400{
	float: left;
	margin: 10px 20px 0 0;
}
#sub-content-area .main-entry .main-content-two span.name{
	font-size: 16px;
	font-weight: bold;
}
#sub-content-area .main-entry p.main-content-four{
	/* float: left; */
	width: auto;
	font-family: Verdana;
	font-size: 12px;
	color: #555555;
	line-height: 24px;
	padding: 0 0;
}
#sub-content-area .main-entry .main-content-four-sub{
	/*float: left;*/
	width: 100%;
	font-family: Verdana;
	font-size: 12px;
	color: #555555;
	/* line-height: 24px; */
	line-height:1.7em;
	padding: 22px 0 0 0;
}
#sub-content-area .main-entry .main-content-four-sub ul.bulleted{
	list-style-position:outside;
	/* padding-top:20px; */
}
#sub-content-area .main-entry .main-content-four-sub ul.bulleted li{
	background: url("../images/checkmark.png") 0 20% no-repeat;
	padding: 0px 0 0 30px;
	/* margin: 10px 0; */
	line-height:2.3em;
}
#sub-content-area .main-entry .main-content-four-sub ul.bulleted-kid li{
	background: url("../images/checkmark.png") 0 20% no-repeat;
	padding: 0px 0 0 30px;
	/* margin: 10px 0 0 0; */
	width: 100%;
	line-height:2.3em;
	/* float: left; */
}
#sub-content-area .main-entry .main-content-four-sub ul.uses{
	padding: 0 0 0 20px;
}
#sub-content-area .main-entry .main-content-four-sub ul.uses li{
	font-family: Verdana;
	font-size: 12px;
	color: #76ab01;
	/* line-height: 24px; */
	line-height: 1.5em;
	list-style-position: outside;
	list-style-type: disc;
}
#sub-content-area .main-entry .main-content-four-sub ul.uses p{
	font-family: Verdana;
	font-size: 12px;
	line-height: 24px;
	color: #555555;
}
#sub-content-area .main-entry .main-content-four-sub ul.uses li p{
	color: #555555;
}
#sub-content-area .main-entry .main-content-four-sub img.amaranth{
	float: left;
	margin: 10px 20px 10px 0px;
}

#sub-content-area .main-entry .main-content-four-sub ul.agave-info li p{
	color: #555555;
}
#sub-content-area .main-entry .main-content-four-sub ul.agave-info li{
	background: url("../images/checkmark.png") 0 40% no-repeat;
	padding: 0px 0 0 30px;
	margin: 10px 0;
}
#sub-content-area .main-entry .main-content-three{
	float: left;
	width: auto;
	font-family: Verdana;
	font-size: 12px;
	color: #555555;
	line-height: 24px;
	padding: 10px 20px;
}
#sub-content-area .main-entry ul.main-content-three li{
	margin: 0 0 10px 20px;
}
#sub-content-area .main-entry ul.main-content-three li span.title{
	font-family: 'Verdana';
	font-size: 14px;
	font-weight: bold;
	color: #252525;
}
ul.main-content-three li a{
	 color: #80C655;
}
#content-area .main-container #content-bottom, #sub-content-area .main-container #content-bottom{
	margin: 30px 0 0 0;
	border-bottom: 1px solid #76ab01;
	padding: 0 0 10px 0;
}
#content-area .main-container #content-bottom{
	margin: 15px 0 0 0!important;
}
#content-area .main-container #content-bottom h2.featured-products, #sub-content-area .main-container #content-bottom h2.featured-products{
	float: left;
	font-family: 'ProximaNova';
	font-size: 18px;
	color: #555;
	text-transform: uppercase;
}
#content-area .main-container #content-bottom a.views, #sub-content-area .main-container #content-bottom a.views {
	color: #555;
	font-family: Verdana;
	font-size: 12px;
	text-decoration: underline;
}
#content-area .main-container ul#featured-images{
	margin: 30px 0 0 0;
}
#content-area .main-container ul#featured-images li:first-child{
	margin: 0;
	text-align: center;
}
#content-area .main-container ul#featured-images li{
	float: left;
	text-align: center;
	margin: 0 0 0 14px;
}
#content-area .main-container ul#featured-images li img{
	border: 1px solid #b7b7b7;
}
#content-area .main-container ul#featured-images li p, #sub-content-area .main-container ul#featured-images li p{
	text-align: center;
	font-family: Verdana;
	font-size: 12px;
	color: #555;
	line-height: 30px;
}
.ie7 #content-area .main-container ul#featured-images li p, #sub-content-area .main-container ul#featured-images li p{
	text-align: center;
	font-family: Verdana;
	font-size: 12px;
	color: #555;
	line-height: 14px;
}
.line{
	border-bottom: 1px solid #76ab01;
	margin-bottom:15px;
}
 #content-area .main-container .articles, #sub-content-area .main-container .articles{
	width: 559px;
	background: #76ab01;
	margin: 21px 0 30px 0;
}
.firefox #content-area .main-container .articles{
	width: 559px;
	background: #76ab01;
	margin: 21px 0 15px 0;
}

#content-area .main-container .articles h3, #sub-content-area .main-container .articles h3{
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	font-family: 'ProximaNova';
	padding: 10px 10px;
	text-transform: uppercase;
}
#sub-content-area .main-container .articles .wrapper{
	width: 555px;
	background: #fff;
	margin: 0 0 2px 2px;
	padding: 31px 0 0 0;
}
#content-area .main-container .articles .wrapper{
	width: 555px;
	background: #fff;
	margin: 0 0 2px 2px;
	padding: 27px 0 0 0;
	min-height:306px;
}
.ie8 #content-area .main-container .articles .wrapper{
	min-height:278px;
}
#content-area .main-container .articles .wrapper p.intro, 
#sub-content-area .main-container .articles .wrapper p.intro{
	font-family: 'ProximaNova';
	font-size: 20px;
	color: #252525;
	margin: 0 30px 0 30px;
	text-align:left;
}
#content-area .main-container .articles .wrapper p{
	margin: 10px 30px 0 30px;
	font-family: Verdana;
	font-size: 12px;
	color: #555;
	line-height: 21px;
}
#content-area .main-container .articles .wrapper ul li{
	background: url("../images/checkmark.png") 0 20% no-repeat;
	margin: 7px 30px 0 30px;
	/* list-style:disc inside; */
	color: #76ab01;
}
#content-area .main-container .articles .wrapper ul li a{
	color: #555555;
	text-decoration: none;
	font-family: Verdana;
	font-size:14px;
	margin-left:25px;
}
#content-area .main-container .articles .wrapper ul li a:hover{
	color:#76AB01;
}
#content-area .main-container .resident{
	width: 559px;
	background: #cc1e2c;
	margin: 21px 0 0 0;
}
#content-area .main-container .resident h3{
	color: #fff;
	font-size: 14px;
	font-family: 'ProximaNova';
	font-weight: normal;
	padding: 10px 10px;
	text-transform: uppercase;
}
#content-area .main-container .resident .wrapper{
	background: #fff;
	width: 555px;
	float: right;
	margin: 0 2px 2px 0px;
}
#content-area .main-container .resident .wrapper .image-holder{
	width: 178px;
	margin: 30px 30px;

}
#content-area .main-container .resident .wrapper .image-holder img{
	border: 2px solid gray;
}
#content-area .main-container .resident .wrapper p{
	padding: 31px 30px 0 0;
	font-family: 'ProximaNova';
	color: #252525;
	font-size: 16px;
	float: left;
	line-height: 25px;
}
#content-area .main-container .resident .wrapper p img{
	float: left;
	margin: 0 30px 10px 0px;
}
#content-area .main-container .resident .wrapper p span{
	float: left;
	font-family: 'ProximaNova';
	color: #cc1e2c;
	font-weight: bold;
	font-size: 22px; 
}
#content-area .main-container .resident .wrapper .direct-contact{
	width: 297px;
	float: left;
	border-top: 1px dashed #818181;
	margin: 16px 0 0 0;
	padding: 30px 0 56px 0;
}
.ipad #content-area .main-container .resident .wrapper .direct-contact, .ipod #content-area .main-container .resident .wrapper .direct-contact{
	width: 297px;
	float: left;
	border-top: 1px dashed #818181;
	margin: 16px 0 0 0;
	padding: 30px 0 62px 0;
}
#content-area .main-container .resident .wrapper .direct-contact .information{
	float: left;
	background: url("../images/phone-red.png") 0 0 no-repeat #fff;
	height: 68px;
	padding: 0 0 0 80px;
}
#content-area .main-container .resident .wrapper .direct-contact .information p{
	margin: 0;
	padding: 0 !important;
	font-size: 18px;

}
#content-area .main-container .resident .wrapper .direct-contact .information p span.information-number{
	font-size: 26px;
	font-family: 'ProximaNova';
	color: #cc1e2c;
}
#content-area .main-container .resident .wrapper .direct-contact .information p span.information-number a{
	color: #cc1e2c;
}
#sub-content-area .main-container article.main-entry .inner-image-holder{
	margin: 11px 20px 0 0;
	padding: 0;
	float: left;
}
.page-id-6 #sub-content-area .main-container article.main-entry .inner-image-holder{
	margin:0px 20px 0px;
}
.page-id-12 #sub-content-area .main-container article.main-entry .inner-image-holder{
	margin:0px 20px 0px;
}
.page-id-5 #sub-content-area .main-container article.main-entry .inner-image-holder{
	margin:0px 20px 0px;
}
#sub-content-area .main-container article.main-entry .inner-image-holder-macrobiotics{
	margin: 11px 20px 0 20px;
	padding: 0;
	float: right;
	position: relative;
	z-index: 1;
}
#sub-content-area .main-container article.main-entry .inner-image-holder-baby{
	margin: 11px 20px 0 20px;
	padding: 0;
	position: relative;
	z-index: 1;
	float: right;
}
#sub-content-area .main-container article.main-entry .inner-image-holder-narutopath{
	margin: 0px 0 0 20px;
	padding: 0;
	float: right;
}

#sub-content-area .main-container article.main-entry .inner-image-holder img{
	/* padding: 0 0 0 20px; */
	padding:0;
	margin-top:10px;
	z-index:9999;
	position:relative;
}
#sub-content-area .main-container article.main-entry .inner-image-holder img.vacant{
	padding: 0 0 0 0;
}
#sub-content-area .main-container article.main-entry ul.gourmet{
	font-family: Verdana;
	font-size: 12px;
	color: #555;
	line-height: 20px;
	padding: 0 20px;
}

.page-id-426 #sub-content-area .main-container article.main-entry ul.gourmet{
	padding-left: 0px!important;
}

#sub-content-area .main-container article.main-entry ul.gourmet-sub{
	font-family: Verdana;
	font-size: 12px;
	color: #555;
	line-height: 20px;
	padding: 0 20px;
}
#sub-content-area .main-container article.main-entry ul.gourmet-sub li{
	background: url("../images/checkmark.png") 0 50% no-repeat;
	padding: 0px 0 0 30px;
	margin: 10px 0;
}
.ie7 #sub-content-area .main-container article.main-entry ul.gourmet-sub li{
	background: url("../images/checkmark.png") 0 0 no-repeat;
	padding: 0px 0 0 30px;
	margin: 10px 0;
}
.ie7 #sub-content-area .main-container article.main-entry ul.gourmet-sub p.separator{
	position: relative;
	right: 30px;
}
#sub-content-area .main-container article.main-entry ul.gourmet li{
	background: url("../images/checkmark.png") 0 10% no-repeat;
	padding: 0px 0 0 30px;
	margin: 10px 0;
	line-height: 30px;
}
#sub-content-area .main-container article.main-entry ul.gourmet li p{
}
#sub-content-area .main-container article.main-entry ul.gourmet li p span{
	font-family: 'ProximaNova';
	font-size: 16px;
	color: #252525;
}
#sub-content-area .main-container article.main-entry .per-post{
	border-top: 1px dashed #b4b4b4;
	width: 790px;
	margin: 0 auto;
	padding-bottom: 20px;
}
.per-post img{
	margin:20px 20px 0 0;
}
.ie7 #sub-content-area .main-container article.main-entry .per-post{
	margin-bottom: 15px;
}

#sub-content-area .main-container article.main-entry .per-post-single{
	border-top: 1px dashed #b4b4b4;
	width: 790px;
	margin: 0 auto 29px auto;
	padding: 0 0 29px 0;
}

#sub-content-area .main-container article.main-entry .per-post-single .image-holder-news{
	margin: 0 15px 0 0;
	
	float: left;
	}
#sub-content-area .main-container article.main-entry .per-post-single .image-holder-news img{
	border: 1px solid gray;
	
}
.per-post-single .image-holder-news h3{
	padding-bottom: 20px;
}
#sub-content-area .main-container article.main-entry .per-post-single h2{
	font-family: 'ProximaNova';
	font-size: 20px;
	color: #252525;
	margin: 17px 0 0 0;
	padding: 0 0 8px 0;
}
#sub-content-area .main-container article.main-entry .per-post .image-holder-news {
    float: left;
    height: 170px;
    margin: 0 29px 18px 0;
    overflow: hidden;
    width: 217px;
}/*
#sub-content-area .main-container article.main-entry .per-post .image-holder-news{
	margin: 0 29px 0 0;
	width: 215px;
	float: left;
}*/
#sub-content-area .main-container article.main-entry .per-post h2{
	font-family: 'ProximaNova';
	font-size: 18px;
	color: #252525;
	margin-top: 18px;
	padding: 0 0 0 0;/*prev value padding-bottom:18pxsss*/
	font-weight:bold;
}
#sub-content-area .main-container article.main-entry .per-post .image-holder-news img{
	margin: 15px 28px 15px 0;
	float: left;
	border: 1px solid #c7c5c3;
}
#sub-content-area .main-container article.main-entry .how-to{
	border-top: 1px dashed #b4b4b4;

}
#sub-content-area .main-container article.main-entry .how-to p.main-content-two span{
	font-family: 'ProximaNova';
	font-size: 20px;
	color: #252525;
}
#sub-content-area .main-container article.main-entry .how-to p.main-content-two-inner{
	float: left;
	width: auto;
	font-family: Verdana;
	font-size: 12px;
	color: #555555;
	line-height: 24px;
	padding: 30px 0 10px 0;
}
#sub-content-area .main-container article.main-entry .pagination-news{
	margin: 20px 20px 0px;
	padding: 0 0 20px 0;
	line-height: 28px;
}
#sub-content-area .main-container article.main-entry .pagination-news .pre.page-numbers{
	border: 1px solid gray;	
	padding: 5px 5px;
	color: #a7a7a7;
	text-decoration: none;
}
#sub-content-area .main-container article.main-entry .pagination-news .next.page-numbers{
	border: 1px solid gray;
	padding: 5px 5px;
	color: #a7a7a7;
	text-decoration: none;
}
#sub-content-area .main-container article.main-entry .pagination-news .page-numbers{
	border: 1px solid gray;
	padding: 5px 10px;
	text-decoration: none;
	color: #a7a7a7;
}
#sub-content-area .main-container article.main-entry .pagination-news .page-numbers.current, #sub-content-area .main-container article.main-entry .pagination-news .page-numbers.current:hover{
	border: 1px solid gray;
	color: #fff;
	background: #76ab01;
	text-decoration: none;
	padding: 5px 10px;
}
#sub-content-area .main-container article.main-entry .pagination-news .page-numbers:hover{
	color: #76ab01;
	text-decoration: none;
}
img.image-control{
	float: left;
	padding: 9px 25px 140px 0;
}

#sub-content-area .main-container #control-sidebar{
	width: 274px;
	float: right;
	margin: 0 0 10px 0;
}
#content-area .main-container #control-sidebar{
	width: 274px;
	float: right;
}
#sub-content-area .main-container article.main-entry p.main-content-two span.title{
	font-family: 'ProximaNova';
	font-size: 16px;
	color: #252525;
	font-weight: bold;
}
/*****************************
* BOTTOM AREA & FOOTER       *
*****************************/

#bottom-area {
}

footer {
	background: #76ab01;
}
.ie7 .home footer,
.ie7 .page-id-5 footer{
	background: #76ab01;
	margin-top: 0px!important;
}

.ie7 .page footer {
	background: #76ab01;
	 margin-top: 30px; 
}
footer .main-container .sub-menu ul:first-child{
	border:none;
	padding: 0;
	margin: 20px 0 0 0;
}
footer .main-container .sub-menu ul{
	float:left;
	border-left: 1px solid #fff401;
	margin: 20px 20px 0 20px;
	padding: 0 0 0 30px;
}
/*footer .main-container .sub-menu #footer-nav .menu-footer-two-container, #footer-nav .menu-footer-three-container, #footer-nav .menu-footer-four-container, #footer-nav .menu-footer-one-container {
	float: left;
}*/

footer .main-container .sub-menu ul li a:hover,
footer .main-container .sub-menu ul li.current_page_item a{
	color: #fff;
	text-decoration: underline !important;
	font-family: 'ProximaNova'!important!
}
footer .main-container .sub-menu ul li a{
	color: #fff;
	
	font-family: 'ProximaNova'!important;
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
}
footer .main-container .address{
	margin: 20px 20px 0 0; 
	width: auto;
}
.ie7 footer .main-container .address{
	margin: 20px 48px 0 0; 
	width: auto;
}
footer .main-container .address ul{
	float: left;
	width: 201px;
}
.ie7 footer .main-container .address ul{
	float: left;
	width: 201px;
	margin: 0 40px 0 0; 
}
footer .main-container .address ul li:first-child{
	width: 78px;
}
footer .main-container .address ul li{
	float: left;
	color: #fff;
	font-size: 14px;
	width: 110px;
	font-family: 'ProximaNova'!important;
	/* font-family: Verdana; */
	line-height: 19px;
}

/*.ie7 footer .main-container .address ul li{
	color: #fff;
	font-size: 12px;
	width: 110px;
	font-family: Verdana;
	line-height: 19px;
	float: none !important;
}*/
footer .main-container .address ul#footer-details{
	margin: 0 0 0 40px;
	width: 201px;
}
.ie7 footer .main-container .address ul#footer-details{
	margin: 0 40px 0 40px !important;
	width: 130px;
	float: none !important;
}
footer .main-container .address ul#footer-details li{
	float: left;
	width:210px!important;
}
footer .main-container .address ul#footer-details li, footer .main-container .address ul#footer-details li a{
	color: #fff;
	width: auto;
}
footer .main-container .address ul#footer-details li{
	clear:both;
}
footer .footer-area{
	background: url("../images/footer-bg.png") 0 0 repeat;
	margin: 20px 0 0 0;
}
.copyright, .copyright p a {
	color: #fff !important;
	/* font-family: Verdana; */
	font-family: 'ProximaNova'!important;
	padding: 20px 0;
	font-size: 14px;
}
.branding , .branding p a{
	color: #fff;
	/* font-family: Verdana; */
	padding: 20px 0;
	font-size: 14px;
	font-family: 'ProximaNova'!important;
}

#sub-content-area .main-container article.main-entry .page-error h5{
	font-family: 'ProximaNova';
	font-size: 30px;
	color: #252525;
	line-height: 43px;
	font-weight: normal;
	padding: 0 0 20px 20px;
}
#sub-content-area .main-container article.main-entry .page-error p{
	float: left;
	width: auto;
	font-family: Verdana;
	font-size: 12px;
	color: #555555;
	line-height: 24px;
	padding: 0 20px 20px 20px;
}
#mc_display_rewards {
display: none;
}
#mc-indicates-required {
	/*width: 100%;*/
	display: none;
}
.mc_custom_border_hdr {
	text-align: left;
	color: #ffffff;
	font-family: 'ProximaNova';
	font-size: 18px;
	padding: 10px 0 0 0;
	margin: 0 7px;
}
.ie9 .mc_custom_border_hdr {
	text-align: left;
	color: #ffffff;
	font-family: 'ProximaNova';
	font-size: 18px;
	padding: 10px 0 10px 0;
	margin: 0 7px;
}
.ie8 .mc_custom_border_hdr {
	text-align: left;
	color: #ffffff;
	font-family: 'ProximaNova';
	font-size: 18px;
	padding: 10px 0 10px 0;
	margin: 0 7px;
}
.ie7 .mc_custom_border_hdr {
	text-align: left;
	color: #ffffff;
	font-family: 'ProximaNova';
	font-size: 18px;
	padding: 10px 0 10px 0;
	margin: 0 7px;
}
#mc_signup_form{
	background: none;
	padding: 0;                                                                                                                                                                                                                                                                                                                                                                                                           
	margin: 0;
}
.ie7 #mc_signup_form{
	background: none;
	padding: 0;
	margin: -10px 0 0 0;
}
#mc_signup_form .mc_var_label {
	display: none;
}
#mc_signup_form .mc_input {
	border: 1px solid #731630;
	padding: 10px;

	/* height: 32px;
	border: 1px solid #731630;
	width: 222px;
	padding: 0 10px;
	line-height:32px; */
}
.safari #mc_signup_form .mc_input {
	/* height: 32px;
	border: 1px solid #731630;
	width: 222px;
	padding: 0 10px;
	line-height:0; */
}

.macintosh  #mc_signup_form .mc_input{
	/* height: 32px;
	border: 1px solid #731630;
	width: 222px;
	padding: 0 10px;
	line-height:15px!important; */
}
.ipad  #mc_signup_form .mc_input{
	/* height: 32px;
	border: 1px solid #731630;
	width: 222px;
	padding: 0 10px;
	line-height:15px!important; */
}

.ipod  #mc_signup_form .mc_input{
	/* height: 32px;
	border: 1px solid #731630;
	width: 222px;
	padding: 0 10px;
	line-height:15px!important; */
}

.mc_signup_submit{
	width: 222px;
	background: #fff401;
	height: 38px;
	border: 1px solid #731630;
	font-weight: bold;
	margin: 0 auto 13px auto;
	cursor: pointer;
}
.mc_signup_submit input{
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0 0 0;
}
input#mc_signup_submit.button-sub{
	background: none;
	border: none;
	padding: 10px 0;
	font-weight: bold;
	text-transform: uppercase;
	/*font-family: 'ProximaNova';*/
	font-size: 14px;
	line-height: 18px;
	cursor: pointer;
}

.postid-383 #sub-content-area .main-entry .main-content-four-sub ul.bulleted{
	width:575px;
	/* float:left; */
}
.ie9 div#mc_message.updated{
	color: #fff;
	margin: -20px 0 10px 5px;
}
.ie8 div#mc_message.updated{
	color: #fff;
	margin: -20px 0 10px 5px;
}
.ie7 div#mc_message.updated{
	color: #fff;
	margin: -10px 0 0 5px !important;
	padding: 10px 0 0 0;
	clear: both;
}
div#mc_message.updated{
	color: #fff;
	margin: 0px 0 10px 5px;
}

.mc_error_msg {
	color: #fff;
	
}
.mc_success_msg{
	color:yellow!important;
	-webkit-text-stroke: 0;
}
ul.check{
	padding-top:20px;
}
ul.check li{
	background: url("../images/checkmark.png") 0 10% no-repeat;
	padding: 0px 0 0 30px;
	/* margin: 10px 0; */
	line-height:2.3em;
	line-height: 30px;
}
table tr td{ border:1px solid #eae8e8; padding: 20px; }
/*****************************
* iDEVICES STYLES/OVERRIDES  *
*****************************/

@media screen and ( max-device-width: 480px ){
  body {
    -webkit-text-size-adjust: none;
  }
}

/* Contact Us Override */
.content-sub{
	padding: 30px 40px 0px;
}
.content-sub ul{

}
.content-sub ul li{
	font-family: "ProximaNova";
	display: inline-block;
	font-size: 16px;
	position: relative;
	padding: 0 29px 0 0;
}
/*.content-sub ul li:last-child{
	width: 100%;
	text-align: center;
	padding: 10px 272px;
}*/
.content-sub ul li:first-child:after{
	content: "\2022";
	position: absolute;
	right: 10px;
	font-size: 20px;
}
.content-sub ul li:nth-child(2):after{
	content: "\2022";
	position: absolute;
	right: 10px;
	font-size: 20px;
}
.content-sub ul li a{
	color: #45619d;
	text-decoration: underline;
	-moz-text-decoration-color: #cecece;
    text-decoration-color: #cecece;
}
.content-sub ul li a:hover{
	color: #45619d;
}
.page-id-1288 #sub-content-area .main-entry {
	min-height: 555px;
}
#sub-content-area .contact-us-sub{
	width: 100%;
	float: left;
	margin: 0px 0px 30px;
	position: relative;
}
.contact-us-sub-con .wpcf7, .contact-us-sub-con .wpcf7 table{
	width: 100%;
}
.contact-us-sub-con .wpcf7 table tr td{
	border: none;
	padding: 5px 0px;
	vertical-align: top;
	height: 50px;
	position: relative;
}
.contact-us-sub-con .wpcf7 table tr td input{
	width: 100%;
	height: 50px;
	padding: 0px 20px;
	font-family: verdana;
	font-size: 14px;
	color: #555;
}
.contact-us-sub-con .wpcf7 table tr td textarea{
	width: 100%;
	padding: 20px;
	height: 110px;
	font-family: verdana;
	font-size: 14px;
	color: #555;
}
.contact-us-sub-con .wpcf7 form table tr{
	height: 50px;
}
.contact-us-sub-con .wpcf7 table tr td:first-child{
	border-right: 10px solid transparent;
}
.contact-us-sub-con .wpcf7 table tr td p input.wpcf7-submit{
	width: 33%;
	float: right;
	background: #76AB01;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	font-family: "ProximaNova";
	border: none;
	cursor: pointer;
}
.contact-us-sub-con .wpcf7 table tr td .c-submit{
	width: 65%;
	float: left;
}
.contact-us-sub-con .wpcf7 table tr td .c-submit input.wpcf7-captchar{
	width: 70%;
	float: left;
}
.contact-us-sub-con .wpcf7 table tr td .c-submit img.wpcf7-captchac{
	width: 30%;
	float: left;
	height: 50px;
}
.contact-us-sub-con .wpcf7 table tr td .c-submit input:hover, .contact-us-sub-con .wpcf7 table tr td input:hover, .contact-us-sub-con .wpcf7 table tr td textarea:hover{
	border: 1px solid #76AB01;
}
.contact-us-button{
	float: right;
}
.contact-us-button a {
	text-decoration: none;
	float: right;
	width: 274px;
	text-align: center;
	background:#76AB01;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	font-family: "ProximaNova";
	padding: 18px 18px 18px 45px;
	position: relative;
	font-weight: bold;
}
.contact-us-button a:before{
	content:url('../images/phone_img.png');
	position: absolute;
	left: 45px;
	top: 18px;
}
.contact-us-sub-con .wpcf7 table tr td .wpcf7-not-valid-tip{
	position: absolute;
	width: 542px;
	background: #fff;
	padding: 10px;
	top: -30px;
	left: 6px;
}
.contact-us-sub-con .wpcf7 form{
	height: 215px;
	position: relative;
}
.contact-us-sub-con .wpcf7 form .wpcf7-response-output{
	top: 180px;
}
.contact-us-sub-con .wpcf7 form .wpcf7-validation-errors{
	background: none;
	border: none;
	color: #f00;
	width: 100%;
}
.contact-us-sub-con .wpcf7 form .wpcf7-not-valid{
	border: 1px solid rgb(169, 68, 66);
}
.contact-us-sub-con .wpcf7 table tr td .c-submit .wpcf7-not-valid-tip {
	left: -260px;
	width: 255px;
	top: 20px;
}
.chrome .contact-us-sub-con .wpcf7 table tr td .wpcf7-not-valid-tip {
	top: -40px;
}
.chrome .contact-us-sub-con .wpcf7 table tr td .c-submit .wpcf7-not-valid-tip {
    left: -250px;
    width: 240px;
    top: 10px;
}
.non-major-browser .contact-us-sub-con .wpcf7 table tr td .wpcf7-not-valid-tip {
	top: 10px;
	width: 510px;
}
.non-major-browser .contact-us-sub-con .wpcf7 table tr td .c-submit .wpcf7-not-valid-tip {
    width: 240px;
    top: 10px;
    left: -270px;
}

.social-media{
	display: block;
	width: 274px;
	float: right;
}
.social-media ul{
	padding: 0;
	margin: 0;
	text-align: center;
}

.social-media ul li{
	text-align: center;
	padding: 10px 4px;
	margin: 0;
	list-style: none;
	display: inline-block;
	list-style-type: none;
}

.social-media ul li img{
	padding: 0;
	margin: 0;
	width: 40px;
}
.social-media.contact-us{
	display: block;
    width: 274px;
    margin: 0 auto;
    float: none;
}
.clearfix{
	clear: both;
	overflow: hidden;
}

#sub-content-area .main-container .main-entry p{
	font-family: Verdana;
	font-size: 12px;
	color: #555555;
	line-height: 24px;
	margin: 0 0 15px 0;
}
#sub-content-area .main-container .main-entry .content-area-text{
	padding: 0 20px;
}

#sub-content-area .main-container .main-entry .content-area-text .featured-image img{
	width: 100%;
	margin: 10px 0 0 0;
	height: auto;
}

#sub-content-area .main-container .main-entry .content-area-text a img{
	display: inline;
}
/*
* END OF FILE
* global.css
*/